* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100%;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    /*font-family: 'Roboto', sans-serif;
    */
}

/*NAVBAR*/

nav {
    background-color: #121212;
}

li {
    margin: -1.3px;
}

a {
    color: white;
}

a:hover {
    color: white;
}

.navbar-brand {
    margin-left: 2px;
}

/*MAIN PAGE*/

.wrapper-head {
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem 0;
}

.wrapper-head > h1 {
    color: white;
    
}

.wrapper-form {
    display: flex;
    justify-content: center;
}

form {
    width: 20rem;

}

.input {
    width: 20rem;
    height: 3rem;
    text-indent: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
}

.inputs {
    width: 9.5rem;
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    border: none;
    text-indent: 1rem;
}

.inputs:nth-child(2) {
    margin-left: 0.7rem;
}

#search-btn {
    width: 20rem;
    height: 3rem;
    background-color: #7CFF89;
    border: none;
    border-radius: 8px;
}
